/* body {
    background-color: green;
}

p {
    background-color: #ff0000;
}

div {
    background-color: hsl(60, 1, 1);
}

.caja1{
    width: 150px;
    height: 150px;
    background-color: rgb(100, 43, 199);
}

.caja2{
    width: 100px;
    height: 100px;
    background-color: #094aa0;
}

.caja3{
    width: 50px;
    height: 50px;
    background-color: hsl(137, 85%, 16%);
} */

/**{
    color:orange;
}*/

/*div{
   color: green; 
}*/

.caja1{
    color: red;
}

#foo{
    color: orange;
}

a[title]{
    color:green;
}

button:hover{
    background-color: aquamarine;
}

input:disabled{
    border: 2px solid orange;
}